:root{
  --offwhite: rgb(246, 245, 246);
  --lightpink: rgb(249, 238, 226);
  --orange:rgb(245, 188, 83);
  --darkpurple:rgb(117, 81, 220);

}

@font-face {
  font-family:'DMSans-Variable';
  src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
}
@font-face {
  font-family:'DMSans-Italic';
  src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf');
}

body{
  background-color: var(--offwhite);
  font-family:'DMSans-Variable';
  font-size: 10pt;
  padding: 65px 120px 65px 120px;
  letter-spacing: -1px;
  
}
/* main grid css */
.container{
  height: 100vh;
display: grid;
grid-template-columns: 1fr 2.5fr;

gap: 15px;

}

.m-grid1{
  
  display: flex;
  flex-direction: column;
  gap: 15px;
    
}

.m-grid2{
  
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(4, 0.8fr);
}

/* main grid-column1 */
.grid1-flex1{
  height: 50%;
  background-color: var(--lightpink);
  padding: 15px 15px 10px 15px;
}
.grid1-flex2{
  height: 50%;
  background-color: azure;
}

/* main grid-column2 */
.grid2-flex1{
  background-color: aqua;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
  gap: 15px;

}

.grid2-flex2{
  background-color: green;
  height: 30%;
}

/* main grid-column2 */

.g2-fx1-g1{
 background-color: var(--darkpurple);
 color: white;
 font-size: 60px;
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 1;
 grid-row-end: 3;
 text-align: center;
 line-height: 90%;
}
.g2-fx1-g2{
background-color: blanchedalmond;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 4;
}
.g2-fx1-g3{
background-color: white;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;
position: relative;
color: black !important;
overflow: hidden;
}
.g2-fx1-g4{
background-color: rgb(255, 204, 106);
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 3;
grid-row-end: 4;
overflow: hidden;
}


.g2-fx1-g5{
 background-color: chocolate;
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 4;
 grid-row-end: 5;

}
.g2-fx1-g6{
  background-color:darkslategrey;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end:5;
}

div{
  border-radius: 10px;
}

.grid1-flex1>
h3{
  font-size: 2.8rem;
  /* font-weight: 400; */
  line-height: 38px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.grid1-flex1>h3>.lastword{
 color: var(--darkpurple);
 font-family: 'DMSans-Italic';
}

.grid1-flex1>img{
  height: 100px;
}

.g2-img{
  height: 20px;
 
  margin-top: 0%;
}
.m-grid2>div{
  
  position: relative;
  z-index: 1;
  
}

.tenx{
  color: var(--orange);
}
.faster{
  font-family: 'DMSans-Italic';
}
.g2-fx1-g1>.p2{
  font-size: 20px;
  
  line-height: 20%;
}
.g2-fx1-g1>p{
  margin-bottom: 10px;
}

.g3-img{
position:absolute;
/* border:1px solid #900; */

}



.g2-fx1-g3>p{
  font-weight: 500;
  line-height: 23px;
  font-size: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;

}

.g2-fx1-g4>p{
  font-weight: 500;
  line-height: 23px;
  font-size: 28px;
  padding: 0px 24px 0px 24px;
}

.schedulebox{
  padding: 0px 15px 15px 15px;
  position: relative;
  border-radius: 0%;
}
.schedulebox>.purplebox{
  width: 208px;
  border-radius: 0%;
  
  
}
.schedulebox>.august{
  width: 85px;
  height: 15px;
  position: absolute;
  left: 10%;
  top: 18%;
}
.schedulebox>.week{
  position: absolute;
  width: 35px;
  height: 10px;
  left: 60%;
  top: 20%;
}

.whitebox{
  width: 208px;
  height: 90%;
  
  background-color: white;
  border-radius: 0%;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.checked{
  height: 20px;
  
  
}